extends layout
include includes/cart

block content
  style.
    body {
      background-color: #f8f9fa;
    }
    .remove-btn {
      color: #dc3545;
      cursor: pointer;
      font-weight: bold;
    }
    .remove-btn:hover {
      color: #a71d2a;
    }

  main.container.py-5
    header.text-center.mb-5
      h1.display-4.fw-bold.text-primary MEGA workout
    section(aria-label='Seznam aktivit')
      h2.mb-4.text-secondary History
      .list-group
        if items && items.length
          each item in items
            +card(item)
        else
          .list-group-item.text-muted No activities found.
